.comments-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 40px;
  width: 100%;
}

.comment {
  border: 2px solid grey;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment > p {
  margin: 0;
}

.comment-user {
  color: grey;
  font-size: 16px;
}