.comments-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0px;
  width: 100%;
}

.comment {
  border: 0px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment > p {
  margin: 0;
}

.comment-user {
  color: grey;
  font-size: 16px;
}

.comments-header {
  font-family: 'Montserrat';
}