.comment-form {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-form label {
  width: 100%;
}

.comment-form textarea {
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  font-family: 'Montserrat';
  font-size: 16px;
  height: 5em;
}