.form-page {
  width: 100%;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

.form-page label {
  width: 100%;
  font-size: 16px;
  font-family: 'EB Garamond';
}

.form-page textarea {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  font-family: 'Montserrat';
  font-size: 16px;
  height: 20em;
}

.form-special {
  background-color: white;
  margin: 0 auto;
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border: 0px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

input {
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid grey;
}

.errors {
  border: 2px solid #BA1B1D;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px 10px;
}

.errors > * {
  color: #BA1B1D;
}

.image-input {
  border: none;
  border-radius: 0px;
  font-size: 14px;
}

.title-input {
  font-family: 'EB Garamond';
  border: none;
  font-size: 32px;
  width: 100%;
  outline: none;
}

.text-editor {
  width: 100%;
}

input::file-selector-button {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 500ms;
  cursor: pointer;
  border: 2px solid #ff914d;
  background-color: #ff914d;
  font-family: 'Montserrat';
}

input::file-selector-button:hover {
  background-color: transparent;
  color: #ff914d;
}