html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 22px;
  height: 100%;
}

#root {
  height: 100%;
}

button, input {
  font-family: 'Montserrat';
}

.button {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 500ms;
}

.button.orange:hover {
  background-color: transparent;
  color: #ff914d;
}

.orange {
  border: 2px solid #ff914d;
  background-color: #ff914d;
}

.red {
  border: 2px solid #BA1B1D;
  background-color: #BA1B1D;
}

.button.red:hover {
  background-color: transparent;
  color: #BA1B1D;
}

.button.white {
  font-size: 16px;
  color: #ff914d;
  border: 2px solid white;
  background-color: white;
}

.button.white:hover {
  background-color: transparent;
  color: white;
}

.cancel {
  border: 2px solid grey;
  background-color: grey;
}

.button.cancel:hover {
  background-color: transparent;
  color: grey;
}

.link {
  transition: all 500ms;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.link:hover {
  border-bottom: 2px solid black;
}