body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 22px;
}

button, input {
  font-family: 'Montserrat';
}

.button {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 500ms;
}

.button:hover {
  background-color: transparent;
  color: #ff914d;
}

.orange {
  border: 2px solid #ff914d;
  background-color: #ff914d;
}

.button.white {
  color: #ff914d;
  border: 2px solid white;
  background-color: white;
}

.button.white:hover {
  background-color: transparent;
  color: white;
}