body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 22px;
}

.button {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 300ms;
}

.button:hover {
  background-color: transparent;
  color: black;
}

.orange {
  border: 2px solid #ff914d;
  background-color: #ff914d;
}